{
    "Version": "1.0",
    "ReleaseMode": false,,
    "Port": 8000,

    "DB": {
        "Host": "mysqldb",
        "Port": 3306,
        "User": "wpuser",
        "Password": "pass",
        "DB": "wordplay"
    }
}